
<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag asset_path('logo.png') %>
    <title>Hellogram</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  </head>
  <body>

    <!--NAV-->
    <nav class="navbar navbar-light bg-light d-flex">
      <div class="container">
        <div class="logo">
          <a class="navbar-brand" href="/">
             <%= fa_stacked_icon "camera inverse", base: "square"%>
              <span class="text">  Hellogram </span>
          </a>
        </div>

          <!-- SEARCH FORM -->
        <span class="center">
            <%= form_with url: search_path, method: :get, local: true, class: 'form-inline search-form' do |form| %>
              <%= form.text_field :query, value: params[:query], class: 'form-control mr-sm-2', placeholder: 'ðŸ” search' %>
            <% end %>
        </span>

        <div class="user-section">

          <a href="">
          <i class="fa fa-compass"></i></a>
            <% if user_signed_in? %>
          <a class="edit-profile" href="<%= user_path(current_user) %>">
              <i class="fa fa-user"></i></a>
              <% else%>
                <a href="<%= new_user_session_path%>">
                  <i class="fa fa-heart"></i>
                </a>
              <% end %>
          <% if user_signed_in? %>

     <%= link_to ("<i class='fa fa-sign-in'></i>").html_safe, destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% else%>
            <a href="<%= new_user_session_path%>">
              <i class="fa fa-user"></i>
            </a>
          <% end %>
        </div>
      </div>
    </nav>

    <!--CONTENT-->
    <main class="container" style="min-height: 700px;">
      <%= yield %>
    </main>

    <!--FOOTER-->
    <footer class="container footer">
      <nav class="navbar d-flex">
        <ul>
          <!-- <li>some links here
          </li> -->

        </ul>
        <p> Â© 2019 Mariel Westervelt </p>
      </nav>
    </footer>
  </body>
</html>
